{% extends 'base.html' %}

{% block content %}

<h1>Instructor Roster</h1>

<table class="table table-striped table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Batch</th>
      <th scope="col">Undergraduate Course</th>
      <th scope="col">Undergraduate School</th>
      <th scope="col">Undergraduate Award</th>
      <th scope="col">Undergraduate Scholarship</th>
      <th scope="col">Post-Graduate Course</th>
      <th scope="col">Post-Graduate School</th>
      <th scope="col">Post-Graduate Award</th>
      <th scope="col">Post-Graduate Scholarship</th>
      <th scope="col">Other Achievements</th>
      <th scope="col">Status</th>
      <th scope="col">ID</th>
    </tr>
  </thead>
  <tbody>

    {% if instructors %}
      {% for instructor in instructors %}
      <tr>
        <td>{{ instructor.honorary_title }} {{ instructor.first_name }} {{ instructor.middle_name }} {{ instructor.last_name }}, {{ instructor.suffix }}</td>
        <td>{{ instructor.batch }}</td>
        <td>{{ instructor.undergrad_course }}</td>
        <td>{{ instructor.undergrad_school }}</td>
        <td>{{ instructor.undergrad_award }}</td>
        <td>{{ instructor.undergrad_scholarship }}</td>
        <td>{{ instructor.postgrad_course }}</td>
        <td>{{ instructor.postgrad_school }}</td>
        <td>{{ instructor.postgrad_award }}</td>
        <td>{{ instructor.postgrad_scholarship }}</td>
        <td>{{ instructor.other_achievments }}</td>
        <td>{{ instructor.status }}</td>
        <td><a href="{% url 'instructor' instructor.id %}">{{ instructor.id }}</a></td>
      </tr>
      {% endfor %}
    {% endif %}

  </tbody>
</table>

<a href="{% url 'dashboard' %}" class="btn btn-secondary">Back to Dashboard</a>

{% endblock %}