<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img class="logo" src="https://dl.imgdrop.io/file/aed8b140-8472-4813-922b-7ce35ef93c9e/2024/11/28/image_transparent_Craiyond84d4df786a179f1.png" width="50" height="50">
  SJDM FCEER Guild
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </a>
</nav>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        {% if user.is_authenticated %}

        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>

        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}">
          Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">
          Login</a>
        </li>
        {% endif %}

      </ul>
    </div>
  </div>
</nav>  