<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img class="logo" src="https://media.discordapp.net/attachments/765714315645943828/1311247863442833408/download.png?ex=67482a3c&is=6746d8bc&hm=f0a509775c34ca4dff79bf150649a2ea7df2d7d0d03473c0bbbacff75d8d4335&=&format=webp&quality=lossless&width=350&height=350" width="50" height="50">
  SJDM FCEER Guild
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </a>
</nav>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        {% if user.is_authenticated %}

        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>

        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}">
          Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">
          Login</a>
        </li>
        {% endif %}

      </ul>
    </div>
  </div>
</nav>  